/* html{
    background: linear-gradient(
    180deg,
    rgba(70, 45, 131, 1) 21%, 
    rgba(226, 226, 224, 1) 100%
  );
  background-blend-mode: normal;
    }

    */



@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');

:root {

    --purple_color:rgba(93, 60, 173, 1);
    --white_text: rgba(226, 226, 224, 1);
    --main_background_color: rgb(226, 226, 224);
    
}

.color-letras-blanco{

    color: var(--white_text);
}

* {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    margin: 0;

}

body {

    background-color: rgb(226, 226, 224);

}

.main-background {

background-color: var(--main_background_color);

}

/* Comienza Index */

/* Empieza Nav */


@media (min-width:1200px) {

    nav {
        
        background-color: var(--purple_color);
        align-content: start;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        max-height: 100px;
        z-index: 999;
        position: sticky;
        top: 0;
    }
    
    
    nav div {
    
        display: inline-block
    }
    
    nav div a {
    
        font-size: 20px;
        text-decoration: none;
        color: var(--white_text);
    
    }
    
    .div_left {
    
        width: 30vw;
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
    }
    
    
    .div_mid {
    
        width: 30vw;
        
    }
    
    
    .div_mid img {
    
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: -5px 4px 23px 0px #000;
        
    
    }
    
    .div_right {
    
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
    }
    

}

@media (max-width:1199px) {

    nav {
        
        background-color: var(--purple_color);
        align-content: start;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        max-height: 100px;
        z-index: 999;
        position: sticky;
        top: 0;
    }
    
    
    nav div {
    
        display: inline-block
    }
    
    nav div a {
    
        font-size: 20px;
        text-decoration: none;
        color: var(--white_text);
    
    }
    
    .div_left {
    
        width: 30vw;
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
    }
    
    
    .div_mid {
    
        visibility: hidden;
        width: 0vw;
        
    }
    
    
    
    .div_right {

        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
    }



}

/* Termina Nav */

.index_banner {

    display: flex;
    justify-content: center;

}

.index_banner img {

    margin: 5% 0 0 0;
    scale: 130%;
    max-width: 80%;
    border-radius: 6px;

}


.guion {

    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: 300;

}

h1 {

    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 0 0 5% 0;


}

h2 {

    display: flex;
    justify-content: center;
    margin: -2% 0 0 0;
    font-size: 30px;
    color: var(--purple_color);
    text-shadow: -1px 2px 3px #5c5c5c;

}

h3 {

    display: flex;
    justify-content: center;
    padding: 5% 10%;

}

.product_containers {

    margin: 6% 20% 4% 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* max-width: 60%; */

}

.product_containers figure {

    justify-content: center;
}

.product_containers figure img {

    scale: 100%;
    max-width: 75%;
    border-bottom: 1px solid #afafaf;
    border-radius: 5px;

}

.product_containers figure figcaption {

    margin: 0% 0 0 0;
    font-weight: 500;


}

.smallbanner {

    display: flex;
    justify-content: center;
    margin: 0 0 4% 0;

}

.smallbanner img {

    max-width: 65%;
}

/* Termina Index */


/* Comienza Sell */

.wrapper_search {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 7% 0 0;
    /* margin: 2% 7% 0 0; */
}

.jordan_silhouette {


    max-width: 10%;

}

.input_search {

    width: 30vw;
    height: 4vh;
    text-indent: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.jordan_shoe_transparent {

    scale: 60%;
    display: flex;
    justify-content: center;
    margin: -5% 0 -5% 0;

}

/* Termina Sell */

/* Comienza Marcas */

.h2_brands {

    margin: -3% 0 0 0;


}

/* .flex_page {

    display: flex;
    flex-direction: row;
    margin: 1% 0 0 0;

}

.ul_flex {

width: 8em;
margin: 5% 0 0 1% ;

}

.ul_flex li {

    list-style: none;
    padding: 8% 0 0 0;

}


.products_showcase {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    


}

.flex_shoes {

    padding: 2%;
    margin: 0 2% 0 2%;

} */

.shoes_pic {

    
    mix-blend-mode: multiply;
    max-height: 18vh;
    border-bottom: 2px solid rgb(218, 218, 218);
    border-radius: 15px;
    
}

/* .product_info {

    margin: 5%;
    text-align: center;

} */

/* Termina Marcas */

/* Empieza Preview */


.preview_h2 {

    padding: 6% 0 0 0;
    /* margin: 4% 0 0 0; */
}

.grid_preview {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 1% 1% 5% 0%;
    height: 53.9vh;
    

}

.img_desc {

    grid-column: 1;
    grid-row: 1/3;
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3; */
   

}

.preview_img {

    max-width: 80%;
    max-height: 80%;
    padding: 0 0 0 0;
    margin: 0 0 0 20%;
    mix-blend-mode: multiply;

}

.price {


    grid-column: 2;
    grid-row: 2/3;
    text-align: center;
    font-size: 60px;
    padding: 10% 0 0 0;
    margin: 0% 5% 10% 0;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    box-shadow: -10px 26px 30px 0px #949494;
    
}

.price p {

    margin: 0 5% 5% 0;

}


.block {

    border: none;
    border-radius: 6px;
    background-color: var(--purple_color);
    padding: 16px 26px;
    margin: 0 0 8% 0;
    font-size: 24px;
    color: var(--white_text);
    cursor: pointer;
    text-align: center;   
    
}

/* Termina Preview */

/* Comienza Contact */

.contact_wrapper {

    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 80vh;
    padding: 7px 0 0 0;
    margin: 0 0 0 -7%;

}

.form_wrapper {

    margin: -2% 5% 0 0;
    width: 30vw;
    display: inline;


}

.form_wrapper form {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.form_wrapper input {

    margin: 2% 0 4% 0;
    border: none;
    border-bottom: 1px solid #777777;
    border-radius: 4px;
    width: 100%;
    text-indent: 10px;
    padding: 2% 0;
    font-size: 16px;
    background-color: transparent;

}


.form_wrapper input:focus {

    outline: none;
}

.form_wrapper textarea {

    margin: 2% 0 0 0;
    border: none;
    border-bottom: 1px solid #777777;
    border-radius: 4px;
    resize: none;
    max-width: 100%;
    text-indent: 10px;
    padding: 2% 0;
    font-size: 16px;
    background-color: transparent;
}

.form_wrapper textarea:focus {

    outline: none;

}

.submit_buttons {

    display: flex;
    justify-content: space-evenly;


}

.submit_buttons input {

    padding: 1% 0;
    max-width: 12%;
    border: 1px ridge #000;
    border-radius: 3px;
    text-indent: 0px;

}

.shoe_wrapper {

    scale: 80%;
    width: 30vw;
    display: inline;

}

.shoe_wrapper img {

    margin: -24% 0% 0 -15%;

}

/* Termina Contact */

/* Comienza News */

.news_grid {
    max-height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid template 1fr 1fr 1fr */

}

.title {
    
    grid-column: 3;
    grid-row: 1;
    margin: 2% 20% 0 0;
    font-size: 60px;
    text-align: center;
}

.news_text {

    grid-column: 3;
    grid-row: 2;
    margin: 5% 20% 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 2;
}

.second_title {

    font-size: 50px;
    font-style: italic;
    font-weight: 1200;
    color: var(--purple_color);
    text-shadow: -1px 2px 1px #686868;
    /* justify-content: center; */
    align-items: center;
    /* margin: 0 0 0 20%; */
    grid-column: 2;
    grid-row: 2;
    z-index: 800;

}

.news_image {
    max-height:80%;
    max-width: 80%;
    margin: 0 0 0 10%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /* grid-column: 1 / 2; */
    grid-row: 2 / 3;

}

/* Empieza Checkout */

.checkout-shoes {


    mix-blend-mode: multiply;

}


/* Empieza Footer */

footer {

    padding: 1% 1%;
    list-style: none;
    background-color: var(--purple_color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white_text);
}

footer h4 {

    padding: 0 0 4% 0;

}

footer div p {

    margin: 4% 0;

}

.icon_wrapper {

    width: 200px;
    justify-content: space-evenly;

}

.icons {

    max-width: 40px;
    max-height: 40px;
    fill: var(--white_text);


}


.footer_payments figure {

    justify-content: center;
}

.footer_payments figure img {

    width: 60px;
    height: 60px;

}

.footer_payments figure figcaption {

    margin: 0% 0 0 0;
    font-weight: 500;

}

/* Termina Footer */